doctype html
html
	head
		meta(charset="UTF-8")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-2.1.1.min.js")
		script(src="/javascripts/angular.min.js")
		script(src="/socket.io/socket.io.js")
	body
		block content
