extends layout

block content
	script(src="/javascripts/standard_floor.js")
	h1 スタンダード戦
	div(ng-controller="controller")
		div 対戦者一覧
		ul
			li(ng-repeat="player in players")
				{{player.userName}}
				form
					button 対戦する
